<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title ivi-test-1
        
    body
        main
            .container
                .card
                    .card__container
                        p.card__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, tempora facilis? Cum illo distinctio ipsum voluptatem modi.
                    ul.card__resolution
                        li.card__item 360p
                        li.card__item 720p
                        li.card__item HD
                        li.card__item FullHD
                        li.card__item 4K
                ol.card__list
                    li.card__list-item Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, tempora facilis? Cum illo distinctio ipsum voluptatem modi.
                    li.card__list-item Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    li.card__list-item Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi a sapiente officiis ratione dolorum aperiam, iure similique dolorem at fuga adipisci, ab vel enim, architecto repellat quas alias amet laudantium?
                        